<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Original Image</th>
      <th>Final Image</th>
      <th>Name</th>
      <th>Original</th>
      <th>Final</th>
      <th>Height</th>
      <th>Width</th>
      <th>Project</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><a href="<%=image.original.path%>" download="custom-filename.jpg" title="ImageName">
    		<%=image_tag image.original %>
		</a>
		</td>
        <td><%=image_tag image.final %></td>
        <td><%= image.name %></td>
        <td><%= image.original %></td>
        <td><%= image.final %></td>
        <td><%= image.height %></td>
        <td><%= image.width %></td>
        <td><%= image.project %></td>
		<td><%= link_to 'download', download_image_path(image) %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
