<%# add navigation links to this file %>

<% if user_signed_in? %>
<li>
<%= link_to "Users", users_path %>
</li>
  <li>
	  <%=link_to "Projects",projects_path %>
  </li>
  <li>
	  <%=link_to "Images",images_path %>
  </li>
  <li>
	  <%=link_to "Pay Off",payoffs_path %>
  </li>
  <li>
	  <%=link_to "Regions",regions_path %>
  </li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>